/* Google fonts import */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family: 'Prompt' 'sans-serif';
}
header {
    background-color: green;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Bebas Nue', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #000000;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 0.5em;
}

.active {
    border-bottom: 1px solid #000000;
}

/* nav bar styles and dropdown toggle */
nav {
    position: absolute;
    background-color: green;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/*Nav dropdown*/
#nav-dropdown:checked~nav{
    display: block;
}

#nav-dropdown{
    display: none;

}

.nav-dropdown-label{
    font-size: 2rem;
}
main {
    background-color: rgb(152, 170, 79);
    flex: 1 0 auto;
    margin-top: 74px;
}

footer {
    background-color: green;
}

/*media query for larger screens (768px and up)*/
@media screen and (min-width: 768px){
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-dropdown-label {
        display: none;
    }

    main {
        margin-top: 43px;
    }
}

@media screen and (min-width: 992px){
    #menu > a:hover {
        border-bottom: 1px solid #000000;
    }
}