/* Google fonts import */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family: 'Prompt' 'sans-serif';
}

header {
    background-color: cadetblue;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

h1,
h2 {
    font-family: 'Bebas Nue', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    color: #000000;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 0.5em;
}

.active {
    border-bottom: 1px solid #000000;
}

/* nav bar styles and dropdown toggle */
nav {
    position: absolute;
    background-color: cadetblue;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/*Nav dropdown*/
#nav-dropdown:checked~nav {
    display: block;
}

#nav-dropdown {
    display: none;

}

.nav-dropdown-label {
    font-size: 2rem;
}

main {
    flex: 1 0 auto;
    margin-top: 74px;
    position: sticky;
    top: 0;
    left: 0;
}

#background-image {
    height: 325px;
    width: 100%;
    margin-bottom: 10px;
    background: url(../images/WW2Background.webp) no-repeat center center/cover;
}

#description h2{
    text-decoration: underline;
}

#description div {
    flex: auto;
}

/*intro section and image*/

#intro {
    margin-bottom: 50px;
    padding: 0 10px;
}

#timeline-image {
    background: url(../images/Timeline.png) no-repeat top center / cover;
    width: 90vw;
    height: 32vw;
    position: relative;
    margin: auto;
    bottom: 20px;
}

/*Axis div and image*/
#axis {
    margin-bottom: 50px;
}

#axis-image {
    background: url(../images/axis-image.webp) no-repeat top center / cover;
    height: 100px;
    width: 100px;
    position: relative;
    margin: auto;
    bottom: 20px;
}

/*Allies div and image*/
#allies {
    margin-bottom: 50px;
}

#allies-image {
    background: url(../images/allied-image.webp) no-repeat top center / cover;
    width: 40vh;
    height: 30vh;
    margin: auto;
    position: relative;
    bottom: 20px;
}

#instructions {
    margin-bottom: 70px;
    padding: 0 10px;
}

#key-points h2 {
    text-align: center;
}

/*Significant Events Section*/

#significant {
    text-align: center;
    text-decoration: underline;
    padding: 20px;
    margin-top: 25px;
}

#key-points {
    background: url(../images/WW2Background2.jpg) no-repeat center / cover;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

#key-points div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, .5);
    padding: 15px;
    text-align: center;
    flex-basis: 200px;
    flex-grow: 1;
}

#key-points h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: underline;
}

/*Instructions section*/

#instructions h2 {
    text-align: center;
    text-decoration: underline;
}

#learn p {
    text-align: center;
}

/*Gallery Page*/
#gallery {
    text-align: center;
}

#gallery h2 {
    text-decoration: underline;
}

/* Footer */
footer {
    background-color: cadetblue;
    z-index: 10;
}

#social-networks {
    text-align: center;
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

#social-networks i {
    font-size: 150%;
    padding: 5%;
    color: #fafafa;
}

/*media query for larger screens (768px and up)*/
@media screen and (min-width: 768px) {
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-dropdown-label {
        display: none;
    }

    main {
        margin-top: 43px;
    }

    #background-image {
        height: 325px;
    }
}

/* Media query for laptops and larger screens */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #000000;
    }
}